*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: default;
    font-family: 'AlbertSans', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'AlbertSans';
    src: url(fonts/AlbertSans-Regular.ttf);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #dbdbcc 50%, #d83e3e 50%);
}

#main{
    font-size: 1.5rem;
    text-align: center;
}
.main-content h1{
    font-size: 8.5rem;
    font-weight: 900;
    letter-spacing: 17px;
    color: #d83e3e;
}
#myName-part2{
    color: #dbdbcc;
}

#main-content h2{
    font-size: 10rem;
}